header {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 60%),
                      url('../img/Parietal_cells.jpg');
    background-position: center center;
    background-size: cover;

    padding-top: 3em;
    h1 {
        color: white;
    }
}
