// Color Variables
$primary_color: rgb(29,22,120);
$background_color: rgb(238,238,238);

body
{
	background-color: rgba($background_color,1);
	font-family: 'Oxygen', sans-serif;
}

#maincontent
{
	background-color: rgba(white,1);
	padding: 0;
}

#globalnav { background-color: rgba($primary_color,1); }

footer { padding: 2em; }

h1.display-5
{
	padding: 0.5em;
	text-align: left;
	color: white;
	background-color: rgba($primary_color,1);
	background-image: url("../img/cells.png");
	background-position: center center;
    box-shadow: inset 5em 5em rgba(0,0,0,0.3);
	background-size: 100%;
	text-shadow: 1px 1px 1px rgba(black,1);
}

h2 { color: rgba($primary_color,1); }

.entrybody, .pagecontentbody { padding: 1em; }

.entrybody li, .pagecontentbody li { margin-top: 1em; }

footer a, .entrybody a, .pagecontentbody a
{
	color: rgba($primary_color,1);
	text-decoration: underline;
}

footer a:hover, .entrybody a:hover, .pagecontentbody a:hover
{
	color: rgba($primary_color,.3);
	text-decoration: none;
}

ol.breadcrumb
{
	margin: 0;
	background-color: rgba($primary_color,.3);
	border-radius: 0px;
}

ol.breadcrumb a { color: rgba($primary_color,1); }
ol.breadcrumb .active { color: black; }

.slidepopup .thumbnail, .thumbnail
{
	border-radius: 10px;
	padding: 20px;
	border: 1px solid #ccc;
	width: fit-content;
	display: flex;
	flex-flow: column nowrap;
}

h2, h3
{
	margin-top: 1.5em;
}

p > img { margin: 0em 0em 1em 1em; }


div.back-to-lab { margin: 2em 0em; }

/*padding for small and large laptop views*/
@include media-breakpoint-up(lg) {
    .entrybody, .pagecontentbody { 
        padding: 6% 12% 6% 12%;
    }
}


/*smaller search input for small laptop views*/
@include media-breakpoint-only(lg) {
    input.form-control.mr-sm-2 {width: 50%;}
}
